Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [3]:
import pandas as pd

## Import .csv from API calls
STATIONS= pd.read_csv('../data/city_bikes.csv')
YELP = pd.read_csv('../data/Yelp_location_results.csv')
FS = pd.read_csv('../data/FS_location_results.csv')

In [4]:
### EXPLORATION AND TESTING OF PRIMARY KEY BETWEEN TABLES. 

#Architecture 
# - STATIONS will be the LEFT TABLE as it is the 'master' list of station id and the lookup key.
# - LAT/LONG for the STATION will be the primary key
# - JOIN dataframes on LAT/LONG. Anticipate there will be multiple results per station id (1-many)


# STATIONS.drop_duplicates(subset='lat_long',keep="first").count()

## Add primary key to Yelp based on the Lat/Long of the associated station coords
## Convert it to string or it will just ADD them! doh

YELP['lat_long']=YELP['latitude'].astype(str) +","+ YELP['longitude'].astype(str)
YELP['source']="yelp"
YELP_df = YELP[['name','station_id','rating','price','lat_long','distance','source']]
YELP_df
## Confirm that generated pkey ('lat_long' can be used to join tables. 
## Postive outcome: use outpt of concatenated field as input to filter the Station list. 
## Result : success. 
## Conclusion: Use the generated 'lat_long' as a primary key to join tables. 

# Sample Lat_long from Yelp='49.262487,-123.114397'
# 
# STATIONS_filter = STATIONS[STATIONS['lat_long']=='49.262487,-123.114397']
# STATIONS_filter

,name,station_id,rating,price,lat_long,distance,source
0,La Taqueria Pinche Taco Shop,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",169.517456,yelp
1,Saku,7a19c49f486d7c0c02b3685d7b240448,4.5,$$,"49.262487,-123.114397",178.845344,yelp
2,Uma Sushi,7a19c49f486d7c0c02b3685d7b240448,4.5,$$$,"49.262487,-123.114397",152.157897,yelp
3,Hokkaido Ramen Santouka,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",191.044234,yelp
4,iDen & Quan Ju De Beijing Duck House,7a19c49f486d7c0c02b3685d7b240448,3.5,NaN,"49.262487,-123.114397",263.641336,yelp
...,...,...,...,...,...,...,...
12115,A&W,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",321.985495,yelp
12116,Dairy Queen / Orange Julius,cc25ae4f093b33ba0afd1dbc0dd20324,4.5,NaN,"49.265442,-123.187738",987.901958,yelp
12117,Freshslice Pizza,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",333.363870,yelp
12118,720 Sweets,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",782.192237,yelp
12119,Thai Basil,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",765.806809,yelp

In [5]:
### CREATE FOREIGN KEYS IN YELP AND FS DATAFRAMES

## Eliminate extra fields in STATIONS
STATIONS_abr = STATIONS[['lat_long','name','free_bikes']]
STATIONS_abr


YELP['lat_long']=YELP['latitude'].astype(str) +","+ YELP['longitude'].astype(str)
YELP['source']="yelp"
YELP_df = YELP[['name','station_id','rating','price','lat_long','distance','source','id']]
YELP_df
## QA - CHECK - 12,120 records. Lat_long Generated. 

FS['lat_long']=FS['latitude'].astype(str) +","+ FS['longitude'].astype(str)
FS['source']="FS"
FS_df = FS[['name','station_id','rating','price','lat_long','distance','source','fsq_id']]
FS_df

## QA - Observation - FS may have limited the results as there is an curious consistency about the max number of results per STATION
## todo: investigate why there might be a max of then bars per stationid in the FS results 
##FS.groupby('station_id')['name'].count().sort_values(ascending=False)

,name,station_id,rating,price,lat_long,distance,source,fsq_id
0,Rogue Kitchen & Wetbar,7a19c49f486d7c0c02b3685d7b240448,8.2,3.0,"49.262487,-123.114397",250,FS,4f60fc8be4b0a9d090a1f850
1,33 Acres Brewing Co,7a19c49f486d7c0c02b3685d7b240448,9.4,2.0,"49.262487,-123.114397",674,FS,51b201d27dd249ae714ba728
2,The Juice Truck,7a19c49f486d7c0c02b3685d7b240448,8.8,1.0,"49.262487,-123.114397",779,FS,537e3ec8498ec730b9966b97
3,Biercraft Bistro,7a19c49f486d7c0c02b3685d7b240448,8.1,3.0,"49.262487,-123.114397",744,FS,4cbf89f200d8370403c8445c
4,Faculty Brewing Co,7a19c49f486d7c0c02b3685d7b240448,8.3,2.0,"49.262487,-123.114397",994,FS,55d97956498e2c299b5830c0
...,...,...,...,...,...,...,...,...
2259,The Fringe Cafe,cc25ae4f093b33ba0afd1dbc0dd20324,5.8,2.0,"49.265442,-123.187738",955,FS,4aa7f754f964a520484e20e3
2260,Coppertank Grill,cc25ae4f093b33ba0afd1dbc0dd20324,5.7,1.0,"49.265442,-123.187738",941,FS,4aa6a91df964a520864a20e3
2261,Good Co. Kits,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,1.0,"49.265442,-123.187738",791,FS,6457401321f70230178ea1ea
2262,Castaway Bar and Kitchen,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,2.0,"49.265442,-123.187738",809,FS,5d29827cf5c8330023780aff
2263,Nick's Barber Shop,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,NaN,"49.265442,-123.187738",885,FS,4d31ef57b6093704ac58f1df

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [6]:
import sqlite3
from sqlite3 import Error


def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("connection to sq3 db successful")
    except Error as e:
        print(f"The error '{e}' happened")

    return connection

## Create a CONNECTION between python and the sqlite file 'sm_app'
connection = create_connection('../data/vancouver_bikes')

connection to sq3 db successful

In [7]:

## Create TABLES

## Tables: 
    ## - vancouver_stations
    ## - yelp_data

## 1. Confirm list of Fields for tables to create fields in DB accordingly. 
# print(STATIONS.info())
print(YELP_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12120 entries, 0 to 12119
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        12120 non-null  object
 1   station_id  12120 non-null  object
 2   rating      12120 non-null  float64
 3   price       10169 non-null  object
 4   lat_long    12120 non-null  object
 5   distance    12120 non-null  float64
 6   source      12120 non-null  object
 7   id          12120 non-null  object
dtypes: float64(2), object(6)
memory usage: 757.6+ KB
None

In [8]:
### DEFINE FUNCTION FOR CREATE/DELETE IN DB 

def execute_CD_qry(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"Computer reported '{e}' error")
        
        
def execute_station_update_qry(connection, query):
    connection = create_connection('../data/vancouver_bikes')
    cursor = connection.cursor()
    try:
        for index, row in STATIONS.iterrows():
            try:
                # Define your INSERT query
                query
                
                # Get the values from the DataFrame row
                values = (
                    row['empty_slots'],
                    row['free_bikes'],
                    row['id'],
                    row['latitude'],
                    row['longitude'],
                    row['name'],
                    row['timestamp'],
                    row['extra_ebikes'],
                    row['extra_has_ebikes'],
                    row['extra_last_updated'],
                    row['lat_long']
                    )
        
                # Execute the INSERT query with the row values
                cursor.execute(query, values)
            except Error as e:
                print(f"Error inserting row: {e}")
                connection.rollback()  # Rollback the transaction in case of an error
        connection.commit()
    except Error as e:
        print(f"Error connecting to the database: {e}")
    finally:
        if connection:
            cursor.close()
            connection.close()


def execute_yelp_update_qry(connection, query):
    connection = create_connection('../data/vancouver_bikes')
    cursor = connection.cursor()
    try:
        for index, row in YELP_df.iterrows():
            try:
                # Define your INSERT query
                query
                
                # Get the values from the DataFrame row
                values = (
                     row['name'],
                    row['station_id'],
                    row['rating'],
                    row['price'],
                    row['lat_long'],
                    row['distance'],
                    row['source'],
                    row['id']
                 
                    )
        
                # Execute the INSERT query with the row values
                cursor.execute(query, values)
            except Error as e:
                print(f"Error inserting row: {e}")
                connection.rollback()  # Rollback the transaction in case of an error
        connection.commit()
    except Error as e:
        print(f"Error connecting to the database: {e}")
    finally:
        if connection:
            cursor.close()
            connection.close()

In [9]:
### Create TABLE: vancouver_stations

''' PANDA DATA TYPE - STATIONS
 0   empty_slots         245 non-null    int64  
 1   free_bikes          245 non-null    int64  
 2   id                  245 non-null    object 
 3   latitude            245 non-null    float64
 4   longitude           245 non-null    float64
 5   name                245 non-null    object 
 6   timestamp           245 non-null    object 
 7   extra_ebikes        245 non-null    int64  
 8   extra_has_ebikes    245 non-null    bool   
 9   extra_last_updated  245 non-null    int64  
 10  lat_long            245 non-null    object '''

'''MAP TO SQLITE TYPE
empty_slots	        INTEGER
free_bikes	        INTEGER
id	                TEXT
latitude	        REAL
longitude	        REAL
name	            TEXT
timestamp	        TEXT (assuming it's a string representation of date-time)
extra_ebikes	    INTEGER
extra_has_ebikes	INTEGER (0 for False, 1 for True)
extra_last_updated	INTEGER
lat_long	        TEXT
'''
###########################################
'''PANDA DATA TYPE - YELP
    name        12120 non-null  object 
 1   station_id  12120 non-null  object 
 2   rating      12120 non-null  float64
 3   price       10169 non-null  object 
 4   lat_long    12120 non-null  object 
 5   distance    12120 non-null  float64
 6   source      12120 non-null  object 
 7   id          12120 non-null  object
 '''
'''MAP TO SQLITE TYPE
name  TEXT 
station_id  TEXT 
rating  float8
price  float8 
lat_long  TEXT 
distance  float8
source TEXT 
id TEXT'''

#### QUERIES: CREATE (DELETE) DATA ELEMENTS ######

create_vancouver_stations_tble = '''
    CREATE TABLE IF NOT EXISTS vancouver_stations (
            empty_slots INTEGER,
            free_bikes INTEGER,
            id TEXT,
            latitude REAL,
            longitude REAL,
            name TEXT,
            timestamp TEXT ,
            extra_ebikes INTEGER,
            extra_has_ebikes INTEGER,
            extra_last_updated INTEGER,
            lat_long TEXT PRIMARY KEY
             );'''

create_yelp_tble = '''
    CREATE TABLE IF NOT EXISTS yelp_data (
        name TEXT, 
        station_id TEXT, 
        rating float8,
        price float8,
        lat_long TEXT, 
        distance float8,
        source TEXT, 
        id TEXT);'''


## QUERY - INSERT RECORDS USING DATAFRAME

insert_station_records = """
        INSERT INTO vancouver_stations (
            empty_slots,
            free_bikes,
            id,
            latitude,
            longitude,
            name,
            timestamp,
            extra_ebikes,
            extra_has_ebikes,
            extra_last_updated,
            lat_long) 
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """

insert_yelp_records = """
        INSERT INTO yelp_data (
            name, 
            station_id, 
            rating,
            price,
            lat_long, 
            distance,
            source, 
            id) 
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
            """

In [10]:
## CALL DATABASE FUNCTIONS: 

## CREATE TABLES:
execute_CD_qry(connection, create_vancouver_stations_tble)
execute_CD_qry(connection,create_yelp_tble)

Query executed successfully
Query executed successfully

Look at the data before and after the join to validate your data.

In [11]:
## INSERT STATION DF into SQLITE DB
execute_station_update_qry(connection,insert_station_records)

connection to sq3 db successful
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long
Error inserting row: UNIQUE constraint failed: vancouver_stations.lat_long

In [12]:
## INSERT YELP DF into SQLITE DB
execute_yelp_update_qry(connection, insert_yelp_records)

connection to sq3 db successful

In [13]:
## INSERT STATION DF into SQLITE DB
##### SELECT QUERIES
from pprint import pprint
def execute_read_query(connection, query):
    connection = create_connection('../data/vancouver_bikes')
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        # Fetch column names
        columns = [column[0] for column in cursor.description]
        
        # Fetch all rows
        rows = cursor.fetchall()
        
        # Return as a list of dictionaries
        result = [dict(zip(columns, row)) for row in rows]
        return result
    
    except Error as e:
        print(f"The error '{e}' occurred")

In [14]:

## DEFINE A 'SELECT ALL' QUERY
select_all = '''
            SELECT *
            FROM vancouver_stations
            JOIN main.yelp_data yd ON vancouver_stations.lat_long = yd.lat_long;'''

## CALL THE READ QUERY - 
execute_read_query(connection, select_all)


Full_query_df = pd.DataFrame(execute_read_query(connection,select_all))
Full_query_df

connection to sq3 db successful
connection to sq3 db successful

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra_ebikes,extra_has_ebikes,extra_last_updated,lat_long,rating,price,distance,source,station_id
0,5,29,6iOAgzJ0DRZNSKA3FSrrOg,49.262487,-123.114397,La Taqueria Pinche Taco Shop,2023-09-21 19:03:51.469000,6,1,1695322925,"49.262487,-123.114397",4.0,$$,169.517456,yelp,7a19c49f486d7c0c02b3685d7b240448
1,5,29,XAH2HpuUUtu7CUO26pbs4w,49.262487,-123.114397,Saku,2023-09-21 19:03:51.469000,6,1,1695322925,"49.262487,-123.114397",4.5,$$,178.845344,yelp,7a19c49f486d7c0c02b3685d7b240448
2,5,29,4118Aq9LbkvUr4s719uUkA,49.262487,-123.114397,Uma Sushi,2023-09-21 19:03:51.469000,6,1,1695322925,"49.262487,-123.114397",4.5,$$$,152.157897,yelp,7a19c49f486d7c0c02b3685d7b240448
3,5,29,nkDZY5xqihF3XtZMzzfqqg,49.262487,-123.114397,Hokkaido Ramen Santouka,2023-09-21 19:03:51.469000,6,1,1695322925,"49.262487,-123.114397",4.0,$$,191.044234,yelp,7a19c49f486d7c0c02b3685d7b240448
4,5,29,Zi8Ywk36Ws_4zjw2gjMMFA,49.262487,-123.114397,iDen & Quan Ju De Beijing Duck House,2023-09-21 19:03:51.469000,6,1,1695322925,"49.262487,-123.114397",3.5,None,263.641336,yelp,7a19c49f486d7c0c02b3685d7b240448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23935,18,1,YE3XyjvQEacYwjyyHzZN7Q,49.265442,-123.187738,A&W,2023-09-21 19:03:51.672000,0,1,1695322779,"49.265442,-123.187738",3.5,$,321.985495,yelp,cc25ae4f093b33ba0afd1dbc0dd20324
23936,18,1,1YPW_QrUrH6-x8ToGIajBw,49.265442,-123.187738,Dairy Queen / Orange Julius,2023-09-21 19:03:51.672000,0,1,1695322779,"49.265442,-123.187738",4.5,None,987.901958,yelp,cc25ae4f093b33ba0afd1dbc0dd20324
23937,18,1,aSA-Wku5H1aGHZi444qmIQ,49.265442,-123.187738,Freshslice Pizza,2023-09-21 19:03:51.672000,0,1,1695322779,"49.265442,-123.187738",3.5,$,333.363870,yelp,cc25ae4f093b33ba0afd1dbc0dd20324
23938,18,1,9zTAtAMQs6jcab6w9yUvZw,49.265442,-123.187738,720 Sweets,2023-09-21 19:03:51.672000,0,1,1695322779,"49.265442,-123.187738",3.5,$,782.192237,yelp,cc25ae4f093b33ba0afd1dbc0dd20324
23939,18,1,CLxk9A2tocQ0cDJW-P1oTw,49.265442,-123.187738,Thai Basil,2023-09-21 19:03:51.672000,0,1,1695322779,"49.265442,-123.187738",3.5,$,765.806809,yelp,cc25ae4f093b33ba0afd1dbc0dd20324

## SQL to Clean Yelp Table:

![SQL](../images/SQL_to_Clean_yelp.png)

In [17]:
### SELECT QUERY for REGRESSION MODEL
import pandas as pd
select_restaurants_bike_count = '''
        SELECT POI_namerating, price_corrected,rating, sum(total_bikes) as Total_bikes_1km
        FROM POI
        GROUP BY  POI_namerating
        ORDER BY sum(total_bikes) DESC
        '''
## CALL THE READ QUERY - 
# execute_read_query(connection, select_restaurants_bike_count)
Restaurants_bike_count = pd.DataFrame(execute_read_query(connection, select_restaurants_bike_count))
Restaurants_bike_count

### EXPORT QUERY Result for Regression model

Restaurants_bike_count.to_csv('../data/Restrauts_bike_count.csv')

connection to sq3 db successful