Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [0]:
import pandas as pd

## Import .csv from API calls
STATIONS= pd.read_csv('../data/city_bikes.csv')
YELP = pd.read_csv('../data/Yelp_location_results.csv')
FS = pd.read_csv('../data/FS_location_results.csv')

In [73]:
### EXPLORATION AND TESTING OF PRIMARY KEY BETWEEN TABLES. 

#Architecture 
# - STATIONS will be the LEFT TABLE as it is the 'master' list of station id and the lookup key.
# - LAT/LONG for the STATION will be the primary key
# - JOIN dataframes on LAT/LONG. Anticipate there will be multiple results per station id (1-many)


# STATIONS.drop_duplicates(subset='lat_long',keep="first").count()

## Add primary key to Yelp based on the Lat/Long of the associated station coords
## Convert it to string or it will just ADD them! doh

YELP['lat_long']=YELP['latitude'].astype(str) +","+ YELP['longitude'].astype(str)
YELP['source']="yelp"
YELP_df = YELP[['name','station_id','rating','price','lat_long','distance','source']]
YELP_df
## Confirm that generated pkey ('lat_long' can be used to join tables. 
## Postive outcome: use outpt of concatenated field as input to filter the Station list. 
## Result : success. 
## Conclusion: Use the generated 'lat_long' as a primary key to join tables. 

# Sample Lat_long from Yelp='49.262487,-123.114397'
# 
# STATIONS_filter = STATIONS[STATIONS['lat_long']=='49.262487,-123.114397']
# STATIONS_filter

,name,station_id,rating,price,lat_long,distance,source
0,La Taqueria Pinche Taco Shop,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",169.517456,yelp
1,Saku,7a19c49f486d7c0c02b3685d7b240448,4.5,$$,"49.262487,-123.114397",178.845344,yelp
2,Uma Sushi,7a19c49f486d7c0c02b3685d7b240448,4.5,$$$,"49.262487,-123.114397",152.157897,yelp
3,Hokkaido Ramen Santouka,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",191.044234,yelp
4,iDen & Quan Ju De Beijing Duck House,7a19c49f486d7c0c02b3685d7b240448,3.5,NaN,"49.262487,-123.114397",263.641336,yelp
...,...,...,...,...,...,...,...
12115,A&W,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",321.985495,yelp
12116,Dairy Queen / Orange Julius,cc25ae4f093b33ba0afd1dbc0dd20324,4.5,NaN,"49.265442,-123.187738",987.901958,yelp
12117,Freshslice Pizza,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",333.363870,yelp
12118,720 Sweets,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",782.192237,yelp
12119,Thai Basil,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",765.806809,yelp

In [101]:
### CREATE FOREIGN KEYS IN YELP AND FS DATAFRAMES

## Eliminate extra fields in STATIONS
STATIONS_abr = STATIONS[['lat_long','name','free_bikes']]
STATIONS_abr


YELP['lat_long']=YELP['latitude'].astype(str) +","+ YELP['longitude'].astype(str)
YELP['source']="yelp"
YELP_df = YELP[['name','station_id','rating','price','lat_long','distance','source','id']]
YELP_df
## QA - CHECK - 12,120 records. Lat_long Generated. 

FS['lat_long']=FS['latitude'].astype(str) +","+ FS['longitude'].astype(str)
FS['source']="FS"
FS_df = FS[['name','station_id','rating','price','lat_long','distance','source','fsq_id']]
FS_df

## QA - Observation - FS may have limited the results as there is an curious consistency about the max number of results per STATION
## todo: investigate why there might be a max of then bars per stationid in the FS results 
##FS.groupby('station_id')['name'].count().sort_values(ascending=False)

,name,station_id,rating,price,lat_long,distance,source,fsq_id
0,Rogue Kitchen & Wetbar,7a19c49f486d7c0c02b3685d7b240448,8.2,3.0,"49.262487,-123.114397",250,FS,4f60fc8be4b0a9d090a1f850
1,33 Acres Brewing Co,7a19c49f486d7c0c02b3685d7b240448,9.4,2.0,"49.262487,-123.114397",674,FS,51b201d27dd249ae714ba728
2,The Juice Truck,7a19c49f486d7c0c02b3685d7b240448,8.8,1.0,"49.262487,-123.114397",779,FS,537e3ec8498ec730b9966b97
3,Biercraft Bistro,7a19c49f486d7c0c02b3685d7b240448,8.1,3.0,"49.262487,-123.114397",744,FS,4cbf89f200d8370403c8445c
4,Faculty Brewing Co,7a19c49f486d7c0c02b3685d7b240448,8.3,2.0,"49.262487,-123.114397",994,FS,55d97956498e2c299b5830c0
...,...,...,...,...,...,...,...,...
2259,The Fringe Cafe,cc25ae4f093b33ba0afd1dbc0dd20324,5.8,2.0,"49.265442,-123.187738",955,FS,4aa7f754f964a520484e20e3
2260,Coppertank Grill,cc25ae4f093b33ba0afd1dbc0dd20324,5.7,1.0,"49.265442,-123.187738",941,FS,4aa6a91df964a520864a20e3
2261,Good Co. Kits,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,1.0,"49.265442,-123.187738",791,FS,6457401321f70230178ea1ea
2262,Castaway Bar and Kitchen,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,2.0,"49.265442,-123.187738",809,FS,5d29827cf5c8330023780aff
2263,Nick's Barber Shop,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,NaN,"49.265442,-123.187738",885,FS,4d31ef57b6093704ac58f1df

In [78]:
YELP_df

,name,station_id,rating,price,lat_long,distance,source
0,La Taqueria Pinche Taco Shop,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",169.517456,yelp
1,Saku,7a19c49f486d7c0c02b3685d7b240448,4.5,$$,"49.262487,-123.114397",178.845344,yelp
2,Uma Sushi,7a19c49f486d7c0c02b3685d7b240448,4.5,$$$,"49.262487,-123.114397",152.157897,yelp
3,Hokkaido Ramen Santouka,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",191.044234,yelp
4,iDen & Quan Ju De Beijing Duck House,7a19c49f486d7c0c02b3685d7b240448,3.5,NaN,"49.262487,-123.114397",263.641336,yelp
...,...,...,...,...,...,...,...
12115,A&W,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",321.985495,yelp
12116,Dairy Queen / Orange Julius,cc25ae4f093b33ba0afd1dbc0dd20324,4.5,NaN,"49.265442,-123.187738",987.901958,yelp
12117,Freshslice Pizza,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",333.363870,yelp
12118,720 Sweets,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",782.192237,yelp
12119,Thai Basil,cc25ae4f093b33ba0afd1dbc0dd20324,3.5,$,"49.265442,-123.187738",765.806809,yelp

In [102]:
### JOIN STATION and YELP / FS

# Combined_df = STATIONS_abr.merge(YELP,on='lat_long', suffixes=('_station', '_yelp'))
# Combined_df
## Output = 11,970 records

# Attempt 1: FAIL
# Combined_df_FULL=Combined_df.merge(FS,on='lat_long',suffixes=('_combined', '_FS')) 
# Combined_df_FULL
# ## Output = 111,545 records.

#Attempt  2: FAIL
# Combined_df_FULL=Combined_df.merge(FS,on='lat_long',how='left',suffixes=('_combined', '_FS')) 
# Combined_df_FULL
# ## Output = 111,545 records.

## Attempt 3: 
Combined_Locations = pd.concat([YELP_df,FS_df])
Combined_Locations

,name,station_id,rating,price,lat_long,distance,source,id,fsq_id
0,La Taqueria Pinche Taco Shop,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",169.517456,yelp,6iOAgzJ0DRZNSKA3FSrrOg,NaN
1,Saku,7a19c49f486d7c0c02b3685d7b240448,4.5,$$,"49.262487,-123.114397",178.845344,yelp,XAH2HpuUUtu7CUO26pbs4w,NaN
2,Uma Sushi,7a19c49f486d7c0c02b3685d7b240448,4.5,$$$,"49.262487,-123.114397",152.157897,yelp,4118Aq9LbkvUr4s719uUkA,NaN
3,Hokkaido Ramen Santouka,7a19c49f486d7c0c02b3685d7b240448,4.0,$$,"49.262487,-123.114397",191.044234,yelp,nkDZY5xqihF3XtZMzzfqqg,NaN
4,iDen & Quan Ju De Beijing Duck House,7a19c49f486d7c0c02b3685d7b240448,3.5,NaN,"49.262487,-123.114397",263.641336,yelp,Zi8Ywk36Ws_4zjw2gjMMFA,NaN
...,...,...,...,...,...,...,...,...,...
2259,The Fringe Cafe,cc25ae4f093b33ba0afd1dbc0dd20324,5.8,2.0,"49.265442,-123.187738",955.000000,FS,NaN,4aa7f754f964a520484e20e3
2260,Coppertank Grill,cc25ae4f093b33ba0afd1dbc0dd20324,5.7,1.0,"49.265442,-123.187738",941.000000,FS,NaN,4aa6a91df964a520864a20e3
2261,Good Co. Kits,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,1.0,"49.265442,-123.187738",791.000000,FS,NaN,6457401321f70230178ea1ea
2262,Castaway Bar and Kitchen,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,2.0,"49.265442,-123.187738",809.000000,FS,NaN,5d29827cf5c8330023780aff
2263,Nick's Barber Shop,cc25ae4f093b33ba0afd1dbc0dd20324,NaN,NaN,"49.265442,-123.187738",885.000000,FS,NaN,4d31ef57b6093704ac58f1df

In [108]:
result=Combined_Locations.groupby(['name'])['source'].value_counts().unstack(). fillna(0).sort_index()
result.sort_values(by='yelp', ascending=False)

source                             FS   yelp
name
Cactus Club Cafe                  0.0  102.0
Saku                              0.0   62.0
Banana Leaf                       0.0   56.0
Hokkaido Ramen Santouka           0.0   55.0
Ramen Danbo                       0.0   54.0
...                               ...    ...
Frankie's Italian Kitchen & Bar   9.0    0.0
Frank's Barber Shop               8.0    0.0
Fox Cabaret                      36.0    0.0
Finfolk                           6.0    0.0
Spirithouse                       2.0    0.0

[1584 rows x 2 columns]

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [129]:
## What are the scenarios where Yelp provided more information than FS
# Calculate the count of rows that satisfy the condition
count_condition = (result['yelp'] > result['FS']).sum()

# Calculate the percentage of rows that satisfy the condition relative to the total number of rows
percent_condition = (count_condition / len(result)) * 100

# Create the Summary
output = pd.DataFrame({'Count': [count_condition], 'Percentage': [percent_condition]}, index=["Occurences"])
print(output)

            Count  Percentage
Occurences   1388   87.626263

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.